Package: podpooch
Version: 0.2.0.3
Description: Retrieve and listen to podcasts.
Section: openmoko/audio
Maintainer: Tim Abell <tim@timwise.co.uk>
Architecture: armv4t
OE: podpooch
Homepage: http://...
Priority: optional
Tags: group::audio
Depends: python-html, python-pickle, python-netclient, python-pygtk
Source: http://github.com/timabell/mokopod/downloads
