[Desktop Entry]
Name=Pod Pooch
Comment=Retrieve an listen to podcasts
Encoding=UTF-8
Version=0.2
Exec=podpooch
Icon=
Terminal=false
Type=Application
Categories=Application
StartupNotify=false
