[Desktop Entry]
Name=PodPooch
Comment=Retrieve an listen to podcasts
Version=0.2.0.5
Exec=podpooch
Icon=podpooch
Terminal=false
Type=Application
Categories=Application;
StartupNotify=false
