[Desktop Entry]
Name=PodPooch
Comment=Retrieve an listen to podcasts
Version=1.0
Exec=podpooch
Icon=podpooch
Terminal=false
Type=Application
Categories=Application;
StartupNotify=false
